body
{
    background:url("bg.jpg");
    
}

.wrapper
{
 width: 300px;
 height: 300px;
 border: 1px solid black;
 margin:200px auto;
 background-color: rgba(13, 44, 76, 0.866);
}

h3{
    text-align: center;
    color:aqua;
    font-size: 1.5em;
}

.input{
    margin:10px;
    padding:18px;
    text-align: center;
    border-radius:8px;
}

.input input{
    padding:8px;
}

.btn{
 padding:3px;
 text-align: center;
}


.btn button{
    padding: 8px;
    background-color: bisque;
    border-radius: 20px;
}

#result
{
    text-align: center;
    padding: 4px;
    color: rgb(12, 200, 125);
}